.contenedor {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat (4,1fr);
    grid-template-rows: repeat (8, auto);

}